:host {
    display: flex;
    justify-content: center;
}

main {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #bbb;
    border-radius: 2px;
    width: 100%;
    max-width: 500px;
}

main h1 {
    font-size: 3em;
    text-align: center;
    margin-top: 0px;
    background: #424242;
    color: white;
}
