:host {
    display: flex;
    justify-content: center;
}

main {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #bbb;
    border-bottom: 25px solid;
    border-radius: 2px; 
    width: 100%;
    max-width: 500px;
}

main h1 {
    font-size: 3em;
    text-align: center;
    margin-top: 0px;
    background: #424242;
    color: white;
}

.switch-button-wrapper {
    width: 100%;
    text-align: center;
}

.swtich-button-icon {
    font-size: 2.5em;
}
